on: [push, pull_request]

jobs:
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    strategy:
      matrix:
        os: [ubuntu-24.04]
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable' # Or 'beta' or 'master' depending on your needs
          flutter-version: 3.38.5 # should sync with fvm version
          cache: true
      - run: dart --version
      - run: flutter --version
      - run: flutter pub get
      - name: Run Flutter tests including golden tests
        run: flutter test -r expanded
      - name: Upload golden test failure images
        uses: actions/upload-artifact@v4
        if: ${{ failure() }} # This ensures the step runs only if the previous test step failed
        with:
          name: golden-test-failures # Name for the artifact
          path: test/failures # The path where Flutter saves failure images (adjust if different in your project)
          retention-days: 7 # Optional: how long to keep the artifact