on: [push, pull_request]

jobs:
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    strategy:
      matrix:
        os: [ubuntu-24.04]
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable" # Or 'beta' or 'master' depending on your needs
          flutter-version: 3.38.5 # should sync with fvm version
          cache: true

      # this relies on the new flutter 3.6.0 workspace feature
      - run: dart --version
      - run: flutter --version
      - run: flutter pub get

      - name: Run adaptive_cards tests including golden tests
        run: flutter test -r expanded
        working-directory: ./packages/flutter_adaptive_cards_plus

      - name: Upload adaptive_cards golden test failure images
        if: ${{ failure() }} # This ensures the step runs only if the previous test step failed
        uses: actions/upload-artifact@v4
        with:
          name: adaptive_cards_golden_test_failures # Name for the artifact
          path: packages/flutter_adaptive_cards_plus/test/failures # The path where Flutter saves failure images
          retention-days: 7 # Optional: how long to keep the artifact

      - name: Run adaptive_charts tests including golden tests
        run: flutter test -r expanded
        working-directory: ./packages/flutter_adaptive_charts

      - name: Upload adaptive_charts golden test failure images
        if: ${{ failure() }} # This ensures the step runs only if the previous test step failed
        uses: actions/upload-artifact@v4
        with:
          name: adaptive_charts_golden_test_failures # Name for the artifact
          path: packages/flutter_adaptive_charts/test/failures # The path where Flutter saves failure images
          retention-days: 7 # Optional: how long to keep the artifact

      - name: Run adaptive_explorer tests including golden tests
        run: flutter test -r expanded
        working-directory: ./adaptive_explorer
